[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[user]
  email = Tomasz.Wegrzanowski@gmail.com
  name = Tomasz Wegrzanowski
[core]
  editor = atom -w
  fileMode = false
  excludesfile = /Users/taw/.gitignore_global
  pager = less -F -X
  attributesfile = /Users/taw/.gitattributes
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  ls = ls-files
  sx = status --ignored --porcelain
  unstage = reset HEAD --
  master = checkout master
  up = !git pull && git push
  wdiff = diff --word-diff
  cdiff = diff --word-diff-regex='.' --word-diff
[push]
  default = matching
[diff "json"]
  textconv = json_pp
